body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* 導覽列 */
.navbar {
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    z-index: 1000;    
}

/* 導覽列右側(首頁、崇敬對象、問事、管理者) */
.menu{
    display: flex;
    justify-content: end;
    align-items: center;
}

/* 導覽列左側(logo圖示) */
.navbar img{
    padding: 2%;
    width: 20%;
}

/* 導覽列超連結 */
.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: large;
}

.navbar a.active {
    font-weight: bold;
}

.content {
    display: flex;
    flex: 1;
    background-color: #FDF8F1;
    width: 90%;
    margin: 0 auto;
    padding: 2% 0 2% 0;
}

/* 角色圖片區塊 */
.character_photo{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3%;
}

/* 角色區塊超連結 */
.character a{
    text-decoration: none;
    color: black;
}

/* 角色介紹區塊 */
.character_introduce{
    padding:20px 30px 0 30px
}