body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;    
}

/* 導覽列 */
.navbar {
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    z-index: 1000;    
}

/* 導覽列右側(首頁、崇敬對象、問事、管理者) */
.menu{
    display: flex;
    justify-content: end;
    align-items: center;
}

/* 導覽列左側(logo圖示) */
.navbar img{
    padding: 2%;
    width: 20%;
}

/* 導覽列超連結 */
.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: large;
}

.navbar a.active {
    font-weight: bold;
}

.content {
    display: flex;
    flex: 1;
    padding: 50px 20px 60px;
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
}

/* 登入方塊 */
.login{
    background-color: white;
    width: 30%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 登入方塊上方圖片區塊 */
.logo_photo{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

/* 登入方塊上方圖片 */
.logo_photo img{
    width: 50%;
}

.type_area{
    text-align: center;
    padding-top: 10%;            
}

#login-form{
    padding-top: 2rem;
}

input{    
    width: 80%;
    border-radius: 5px;
    border: 1px solid #808080;
    margin: 5px;
}

button{
    width: 70%;
    background-color: #0077B6;    
    border:none ;
    height: 50px;    
    color: white;
    transition: all 0.3s ease;    
}

button:hover{
    background-color:#023E8A;    
}