body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* 導覽列 */
.navbar {
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    z-index: 1000;    
}

/* 導覽列右側(首頁、崇敬對象、問事、管理者) */
.menu{
    display: flex;
    justify-content: end;
    align-items: center;    
}

/* 導覽列左側(logo圖示) */
.navbar img{
    padding: 2%;
    width: 20%;
}

/* 導覽列超連結 */
.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: large;
}

.navbar a.active {
    font-weight: bold;
}

/* 主體內容 */
.content {
    flex: 1;
    padding: 70px 20px 60px;
    display: flex;
    justify-content: center;
}

/* 查詢區域 */
.search-section {
    width: 100%;
    max-width: 1500px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-section h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-wrapper input {
    flex: 1;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-wrapper .fa-search {
    position: absolute;
    right: 10px;
    color: #007bff;
    cursor: pointer;
}

/* 資料列表 */
.data-header,
.data-row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    align-items: center
}

.data-header {
    font-weight: bold;
    background-color: #eee;
}

.data-row:hover {
    background-color: #ddd;
}

/* 將欄位內容首字對齊 */
.data-row div,
.data-header div {
    text-align: left;
    flex: 1;
}

.intro {
    text-align: right;
}

.intro a {
    margin: 0 10px;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #0077B6;
    color: white;
    border-radius: 5px;
    

}

.intro-section,
.intro-row {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* 分頁 */
.pagination {
    margin-top: 20px;
    text-align: right;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #0077B6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #0096C7;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #F2D3A4;
    color: black;
    transition: right 0.3s ease;
    z-index: 1500;
    padding-top: 60px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar a {
    padding: 15px 25px;
    display: block;
    font-size: 16px;
    color: black;
    text-decoration: none;
    transition: background-color 0.2s;
}

.sidebar a i {
    margin-right: 8px;
}

.sidebar a:hover {
    background-color: #EEE;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
